a { cursor: pointer; }

#question_mark_icon { 
  /* https://css-tricks.com/tips-aligning-icons-text/ */
  width: 3px;
  height: 3px;
  position: relative;
  bottom: 5px;
  margin-left: 5px;
}

div#TCA_GLOBAL_TABLE td:nth-child(2) {
  width: auto;
  height: auto;
  display: block;
  background-color: white;
  color: black;
  border: 1px solid #555555;
/*  padding: 8px 16px; */
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}
div#TCA_GLOBAL_TABLE td:nth-child(2):hover {
  background-color: #555555;
  color: white;
}